*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/.nb-gradle/
**/NetBeans Project/build
**/NetBeans Project/nbproject
**/.nb-gradle
**/*.nb-gradle-properties

## Android Studio and Intellij and Android in general
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/x86/
android/gen/
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle

## Gradle

**/.gradle
**/gradle-app.setting
**/build/

## OS Specific
.DS_Store

*.*#

**/target/
**/dependency-reduced-pom.xml
**/gradle-wrapper.jar
